@model Car

<style>
    input.input-validation-error {
        border: 1px solid #b94a48;
    }
</style>

<h2>Add car</h2>
<form asp-action="create">
    <div asp-validation-summary="All"></div>
    <p>
        <input asp-for="VINcode" type="text" placeholder="VINcode">
    </p>
    <p>
        <input asp-for="Brand" type="text" placeholder="Brand">
    </p>
    <p>
        <input asp-for="Model" type="text" placeholder="Model">
    </p>
    <p>
        <input asp-for="YearOfProd" type="text" placeholder="YearOfProd">
    </p>
    <p>
        <input asp-for="Mileage" type="text" placeholder="Mileage">
    </p>
    <p>
        <input type="submit" value="Add to database">
    </p>
</form>
